.vs/Genius-Tests-C/FileContentIndex/b82e780e-d581-4f51-b88b-6dff0fa3f1a2.vsidx
.vs/Genius-Tests-C/v17/Browse.VC.db
.vs/Genius-Tests-C/FileContentIndex/991531bf-b244-494c-9284-487d7adc358d.vsidx
/.vs/Genius-Tests-C/FileContentIndex
/.vs/Genius-Tests-C/v17
.vs/slnx.sqlite
/.vs
